# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Escape.iml
# Datasource local storage ignored files
/../../../../../../../:\UE4\UnrealProjects\Escape\.idea\.idea.Escape\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
